.icon {
  width: auto;
  height: auto;
}

body {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  background-image: url("scrollTexture.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  text-align: center;
  font-family: "Manufacturing Consent", system-ui;
}

p {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
}

h3 {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
}
